In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [3]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df.dtypes

LocationID      int64
Borough           str
Zone              str
service_zone      str
dtype: object

In [10]:
df.shape

(265, 4)

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name='taxi_zone', con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [12]:
df.to_sql(name='taxi_zone', con=engine, if_exists='replace')

265

In [11]:
print("Table created and Data injected successfully.")

Table created and Data injected successfully.